* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	font-size: 16px;
	background-color: #242424;
	color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
}

main {
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 250%;
}
